<%- include('../../fragments/header.ejs')%>

    <main>
        <h2>Szczegóły wypożyczenia</h2>
        <form class="form">
            <label for="personData">Imię i nazwisko: </label>
            <input type="text" name="personData" id="personData" value="Jan Kowalski" disabled>
            <span id="errorPersonData" class="errors-text"></span>
            <label for="bikeData">Model i marka: </label>
            <input type="text" name="bikeData" id="bikeData" value="Specialized Rockhopper" disabled>
            <span id="errorBikeData" class="errors-text"></span>
            <label for="dateFrom">Data od: </label>
            <input type="date" name="dateFrom" id="dateFrom" value="2022-09-01" disabled>
            <span id="errorDateFrom" class="errors-text"></span>
            <label for="dateTo">Data do: </label>
            <input type="date" name="dateTo" id="dateTo" value="2022-09-12" disabled>
            <span id="errorDateTo" class="errors-text"></span>
            <div class="form-buttons">
                <p><a href="form-edit.html" class="list-actions-button-edit">Edytuj</a></p>
            </div>
       </form>
       <h3>Szczegóły klienta</h3>
       <div>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Telefon</th>
                    <th>E-mail</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jan</td>
                    <td>Kowalski</td>
                    <td>123456789</td>
                    <td>jan.kowalski@bike.com</td>
                </tr>
            </tbody>
        </table>
      </div>
      <h3>Szczegóły roweru</h3>
      <div>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Marka</th>
                    <th>Model</th>
                    <th>Kolor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Specialized</td>
                    <td>Rockhopper</td>
                    <td>Czarny</td>
                </tr>
            </tbody>
        </table>
      </div>
      <div>
        <p><a href="list.html" class="list-actions-button-details">Powrót</a></p>
      </div>
    </main>

<%- include('../../fragments/footer.ejs')%>    