<%- include('../../fragments/header.ejs')%>

    <main>
        <h2>Lista wypożyczeń</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Imię i nazwisko</th>
                    <th>Marka i model</th>
                    <th>Data od</th>
                    <th>Data do</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jan Kowalski</td>
                    <td>Specialized Rockhopper</td>
                    <td>2022-03-04</td>
                    <td>2022-03-06</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="details.html" class="list-actions-button-details">Szczegóły</a>
                            </li>
                            <li>
                                <a href="form-edit.html" class="list-actions-button-edit">Edytuj</a>
                            </li>
                            <li>
                                <a href="" class="list-actions-button-delete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Anna Nowak</td>
                    <td>Specialized Rockhopper</td>
                    <td>2022-04-20</td>
                    <td>2022-05-12</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="details.html" class="list-actions-button-details">Szczegóły</a>
                            </li>
                            <li>
                                <a href="form-edit.html" class="list-actions-button-edit">Edytuj</a>
                            </li>
                            <li>
                                <a href="" class="list-actions-button-delete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Jan Kowalski</td>
                    <td>Unibike Indiana</td>
                    <td>2022-05-10</td>
                    <td>2022-06-04</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="details.html" class="list-actions-button-details">Szczegóły</a>
                            </li>
                            <li>
                                <a href="form-edit.html" class="list-actions-button-edit">Edytuj</a>
                            </li>
                            <li>
                                <a href="" class="list-actions-button-delete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Jan Kowalski</td>
                    <td>Cube SL Road</td>
                    <td>2022-07-10</td>
                    <td>2022-07-24</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="details.html" class="list-actions-button-details">Szczegóły</a>
                            </li>
                            <li>
                                <a href="form-edit.html" class="list-actions-button-edit">Edytuj</a>
                            </li>
                            <li>
                                <a href="" class="list-actions-button-delete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
       </table>
    <p><a href="form.html" class="button-add">Dodaj nowe wypożyczenie</a></p>
    </main>

<%- include('../../fragments/footer.ejs')%>