<%- include('../../fragments/header.ejs')%>

    <main>
        <h2>Szczegóły klienta</h2>
        <form class="form">
            <label for="firstName">Imię: </label>
            <input type="text" name="firstName" id="firstName" value="Jan" disabled>
            <span id="errorFirstName" class="errors-text"></span>
            <label for="lastName">Nazwisko: </label>
            <input type="text" name="lastName" id="lastName" value="Kowalski" disabled>
            <span id="errorLastName" class="errors-text"></span>
            <label for="telephone">Telefon: </label>
            <input type="text" name="telephone" id="telephone" value="123456789" disabled>
            <span id="errorTelephone" class="errors-text"></span>
            <label for="email">E-mail: </label>
            <input type="email" name="email" id="email" value="jan.kowalski@bike.com" disabled>
            <span id="errorEmail" class="errors-text"></span>
            <div class="form-buttons">
                <p><a href="form-edit.html" class="list-actions-button-edit">Edytuj</a></p>
            </div>
       </form>
       <h2>Szczegóły wypożyczeń</h2>
       <table class="table-list">
            <thead>
                <tr>
                    <th>Marka roweru</th>
                    <th>Model roweru</th>
                    <th>Data od</th>
                    <th>Data do</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Specialized</td>
                    <td>Rockhopper</td>
                    <td>2022-03-04</td>
                    <td>2022-03-06</td>
                </tr>
                <tr>
                    <td>Unibike</td>
                    <td>Indiana</td>
                    <td>2022-05-10</td>
                    <td>2022-06-04</td>
                </tr>
                <tr>
                    <td>Cube</td>
                    <td>SL Road</td>
                    <td>2022-07-10</td>
                    <td>2022-07-24</td>
                </tr>
            </tbody>
        </table>
       <div>
       <p><a href="list.html" class="list-actions-button-details">Powrót</a></p>
    </div>
    </main>

<%- include('../../fragments/footer.ejs')%>