<%- include('../../fragments/header.ejs')%>

    <main>
        <h2>Lista klientów</h2>
       <table class="table-list">
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Telefon</th>
                    <th>E-mail</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jan</td>
                    <td>Kowalski</td>
                    <td>123456789</td>
                    <td>jan.kowalski@bike.com</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="/clients/details/1" class="list-actions-button-details">Szczegóły</a>
                            </li>
                            <li>
                                <a href="form-edit.html" class="list-actions-button-edit">Edytuj</a>
                            </li>
                            <li>
                                <a href="" class="list-actions-button-delete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Anna</td>
                    <td>Nowak</td>
                    <td>987654321</td>
                    <td>anna.nowak@bike.com</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="/clients/details/1" class="list-actions-button-details">Szczegóły</a>
                            </li>
                            <li>
                                <a href="form-edit.html" class="list-actions-button-edit">Edytuj</a>
                            </li>
                            <li>
                                <a href="" class="list-actions-button-delete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
       </table>
    <p><a href="/clients/add" class="button-add"> Dodaj nowego klienta</a></p>
    </main>

<%- include('../../fragments/footer.ejs')%>